/* CSS Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Default values that all children will inherit*/
html {
  font-size: 16px;
  font-family: "Zilla Slab", sans-serif;
  background-color: black;
  color: white;
}

body {
  width: 100%;
  max-width: 1450px;
  min-height: 100vh;
  border: 2px dashed red;
}

.main-container {
  display: flex;
  flex-direction: row;
  gap: 4px;
  padding: 0 6rem;
}

.menu-pane {
  width: 50%;
  max-width: 500px;
  height: 100vh;
  padding: 6rem 0;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.main-pane {
  width: 50%;
  max-width: 500px;
  padding: 6rem 0;
}

.intro-block {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#name-tag {
  align-content: center;
  text-decoration: none;
  line-height: 1em;
  font-size: 4rem;
  color: white;
  text-transform: uppercase;
}

.menu-block {
  width: fit-content;
  margin-top: 3rem;
}

ul {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

ul li {
  position: relative;
  list-style: none;
}

ul li a {
  position: relative;
  font-size: 2rem;
  text-decoration: none;
  line-height: 1em;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px white;
}

ul li a::before {
  content: attr(data-text);
  position: absolute;
  color: white;
  overflow: hidden;
  width: 0;
  transition: 1s;
  border-right: 6px solid white;
}

ul li a:hover::before {
  width: 100%;
  filter: drop-shadow(0 0 25px white);
}

.links-block {
  margin-top: 3rem;
  display: flex;
  justify-content: space-evenly;
}

.fa {
  color: white;
  text-decoration: none;
}

/* Mobile devices */
@media screen and (max-width: 480px) {
  .main-container {
    padding: 3rem 1.5rem;
    flex-direction: column;
  }

  .menu-pane {
    width: inherit;
    height: fit-content;
    padding: 0 0;
    position: relative;
  }

  .main-pane {
    width: inherit;
  }
}

.intro-par {
  margin-bottom: 5px;
}
