html,
body {
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: 'DIN Condensed', sans-serif;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

h1, 
h2,
h3 {
    margin: 0;
    padding: 0;
}

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.nav-container {
    border: 2px solid red;
    padding: 0 10% 0 10%;
}

#nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: right;
}

#nav-menu > li > a {
    text-decoration: none;
    color: white;
}

#nav-menu > li {
    padding: 0 5px 0 5px;
}

.main-container {
    border: 2px solid blue;
    display: flex;
    flex-direction: row;

}

.side-pane {
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 10%;
    border: 2px solid yellow;
}

#links {
    border: 2px solid purple;
}

#links > li {
    padding: 12px;
}

.main-section {
    border: 2px solid green;
    color: blue;
}

#home {
    text-decoration: none;
    color: white;
}
