/* CSS Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Default values that all children will inherit*/
html {
  font-size: 16px;
  font-family: "DIN Condensed", sans-serif;
  color: black;
}

body {
  width: 100%;
  max-width: 1450px;
  min-height: 100vh;
  border: 2px dashed red;
}

ul {
  list-style: none;
}

li,
a {
  text-decoration: none;
  text-decoration-line: none;
}

.main-container {
  display: flex;
  flex-direction: row;
  gap: 4px;
  padding: 0 6rem;
}

.menu-pane {
  width: 50%;
  max-width: 500px;
  height: 100vh;
  padding: 6rem 0;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.main-pane {
  width: 50%;
  max-width: 500px;
  padding: 6rem 0;
}

#name-tag {
  size: 3rem;
}

.menu-block {
  width: fit-content;
  margin-top: 3rem;
}

.menu-item {
  text-decoration: none;
  color: black;
}

.menu-item:hover {
  color: yellow;
  transform: translate(10px, 0);
  margin-top: 1rem;
}

.links-block {
  margin-top: 3rem;
  display: flex;
  justify-content: space-evenly;
}

.fa {
  color: black;
}

/* Mobile devices */
@media screen and (max-width: 480px) {
  .main-container {
    padding: 3rem 1.5rem;
    flex-direction: column;
  }

  .menu-pane {
    width: inherit;
    height: fit-content;
    padding: 0 0;
    position: relative;
  }

  .main-pane {
    width: inherit;
  }
}

.intro-par {
  margin-bottom: 5px;
}
